body {
    background-color: #cccccc;
    .wrapper {
        background-color: #ffffff;
        width: 1200px;
        margin: 0 auto;
        header {
            margin: 20px auto;
            width: 1000px;
            display: flex;
            h1 {
                font-size: 40px;
            }
        }
        .main {
            margin: 0 auto;
            width: 1000px;
            height: 420px;
            display: flex;
            background-color: #cfe2f3;
            border: 0;
            .nav {
                width: 200px;
                display: flex;
                flex-direction: column;
                .item {
                    display: block;
                    background-color: #cfe2f3;
                    padding: 10px 10px 15px 10px;
                    border: 0;
                }
                .active {
                    background-color: #d9d2e9;
                }
                .fill_item {
                    height: 100%;
                }
            }
            .content {
                .item_content {
                    display: none;
                    background-color: #d9d2e9;
                }
            }
        }
    }
}